@import '../../../globals.scss';

.form_section {
    background-color: $color-four;
    min-height: 800px;
}

.content_container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: block;
}

.menu_one{
    border:none;
    font-size: 28px;
    font-family: 'merriweather-light';
    color: $color-five;
}

.menu_one:hover{
    text-decoration: underline;
}

.menu_two{
    border:none;
    font-size: 28px;
    font-family: 'merriweather-bold';
    color: $color-five;
}

.menu_two:hover{
    text-decoration: underline;
}