<app-navbar></app-navbar>
<section class="sub_navbar">
    <img class="logo_stamp" src="../../../assets/images/Color_Transparent.png" (click)="goto('/')">
    <div class="hero_buttons_container">
        <button class="btn btn-default hero_button_blue ">BROWSE AUCTIONS
            <i class="fa fa-caret-down"></i>
        </button>
        <button class="btn btn-default hero_button_blue">START A LISTING</button>
    </div>
</section>
<section class="form_section">
    <div class="content_container">
        <h1 class="golden_label_large">My Account</h1>
        <div class="text-start" style="padding: 30px 0;">
            <button class="btn btn-default menu_one" (click)="top_selection = 'activity'">Activity</button>
            <button class="btn btn-default menu_one" (click)="top_selection = 'messages'">Messages</button>
            <button class="btn btn-default menu_one" (click)="top_selection = 'account'">Account</button>
        </div>
        <div *ngIf="top_selection == 'activity'">
            <div class="text-start">
                <button class="btn btn-default menu_two" (click)="bottom_selection = 'recently viewed'">Recently Viewed</button>
                <button class="btn btn-default menu_two" (click)="bottom_selection = 'bids & offers'">Bids & Offers</button>
                <button class="btn btn-default menu_two" (click)="bottom_selection = 'purchases'">Purchases</button>
                <button class="btn btn-default menu_two" (click)="bottom_selection = 'watchlist'">Watchlist</button>
                <button class="btn btn-default menu_two" (click)="bottom_selection = 'selling'">Selling</button>
            </div>
            <app-recently-viewed *ngIf="bottom_selection == 'recently viewed'"></app-recently-viewed>
            <app-bids-and-offers *ngIf="bottom_selection == 'bids & offers'"></app-bids-and-offers>
            <app-purchases *ngIf="bottom_selection == 'purchases'"></app-purchases>
            <app-watchlist *ngIf="bottom_selection == 'watchlist'"></app-watchlist>
            <app-selling *ngIf="bottom_selection == 'selling'"></app-selling>
        </div>
        <div *ngIf="top_selection == 'messages'">
            <app-inbox></app-inbox>
        </div>
        <div *ngIf="top_selection == 'account'">
            <app-account-details></app-account-details>
        </div>

    </div>
</section>
<app-footer></app-footer>
