<div style="padding:20px 0 70px 0;">
    <div class="sub_section_title">Purchases</div>
    
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">PRice:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">Pending Delivery</div><br>
    <br><br>
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">PRice:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">Complete</div><br>
</div>