@import '../../../globals.scss';

.sidemenu {
    background-color: $color-one;
    height: 100vh;
    padding-top: 35px;
    color: white;
    font-size: 20px;
    line-height: 40px;
}

.sidemenu_item {
    cursor: pointer;
}

.logo {
    height: 60px;
    cursor: pointer;
    margin:auto;
    display: block;
}

.contents {
    max-height: 100vh;
    overflow: auto;
}
