@import '../../../globals.scss';

  .box {
    background-color: white;
    width: 85%;
    max-width: 500px;
    margin-inline: auto;
    padding: 32px 25px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.85;
  }

  .view_all_auctions_button{
    color: $color-two;
    text-decoration: none;
    font-size: 32px;
    font-family: 'worksans-700';
    margin: 30px 0;
    cursor: pointer;
  }

  .view_all_auctions_button:hover{
    text-decoration: underline;
  }

  #feature-action-slider {
    background-image: url('../../../assets/images/Hero\ Image.jpg');
    background-size: contain;
    padding: 50px 0;
  }

  #feature-action-slider .item .box h2 {
    color: $color-two;
  }
  #feature-action-slider .item .box p span {
    font-weight: 550;
  }
  #feature-action-slider .item .box .btns {
    width: fit-content;
    margin-inline: auto;
  }
  #feature-action-slider .item .box .btns button {
    background-color: $color-two;
    border: none;
    outline: none;
    color: $color-four;
    padding-inline: 32px;
    padding-block: 8px;
    transition: 0.25s;
    font-size: 17px;
    border-radius: 2px;
  }
  #feature-action-slider .item .box .btns button:hover {
    color: $color-two;
    background-color: $color-four;
  }

  .main-section {
    background-color: $color-four;
  }
  
  .main-section .section-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
  .main-section .section-cover h2 {
    width: 320px;
    text-align: center;
    color: $color-four;
    font-size: 50px;
  }
  .main-section .section-items .item {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .main-section .section-items .item h4 {
    margin-bottom: 8px;
  }
  /*
  .main-section .section-items .item h4 a {
    color: $color-two;
    text-decoration: none;
  }
  */
  .main-section .section-items .item p {
    margin-bottom: 0;
    width: 70%;
    margin-inline: auto;
    font-size: 15px;
  }
  .main-section .section-items > p {
    text-align: center;
    margin-top: 8px;
  }
  /*
  .main-section .section-items > p a {
    text-decoration: none;
    font-size: 18px;
    color: $color-two;
    transition: 0.25s;
    font-weight: 700;
  }
  .main-section .section-items > p a:hover {
    color: $color-three;
  }
  */
  
  
  
  @media screen and (max-width: 767px) {
    #white-banner h2 {
      width: 95% !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #white-banner h2 {
      width: 90% !important;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #white-banner h2 {
      width: 80% !important;
    }
  }
  @media screen and (min-width: 1199px) and (max-width: 1399px) {
    #white-banner h2 {
      width: 70% !important;
    }
  }
  @media screen and (min-width: 1400px) {
    #white-banner h2 {
      width: 60% !important;
    }
  }
  @media screen and (max-width: 991px) {
    .main-section .section-cover {
      min-height: 200px;
    }
  }/*# sourceMappingURL=style.css.map */