<app-navbar></app-navbar>

<section class="sub_navbar">
    <app-sub-menu [color]="'blue'"></app-sub-menu>
</section>
<section class="form_section">
    <div class="row" style="margin:0;">
        <div class="col-12">
            <div class="form_container">
                <form id="auctionForm" class="form_container" [formGroup]="auction_form" validate
                    (ngSubmit)="saveAuction(auction_form)">
                    <label class="golden_label">Title:</label>
                    <input type="text" class="form-control" formControlName="title" (ngModelChange)="evalEdit(itemx)">
                    <div *ngIf="form_submitted == true && auction_form.controls['title'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['title'].errors['required']"><em>Title is required</em></div>
                    </div>

                    <label class="golden_label">Item Category</label>
                    <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle"
                            style="border: 1px solid #ced4da;width:280px;background-color:white;margin:auto"
                            formControlName="category" (ngModelChange)="evalEdit(itemx)">
                            <option class="dropdown_option" *ngFor="let y of categories" [value]="y">
                                {{ y }}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['category'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['category'].errors['required']"><em>Select a category</em>
                        </div>
                    </div>

                    <label class="golden_label">Item Specifics</label><br>

                    <label class="labelf">Distillery/Origin:</label>
                    <input type="text" class="form-control" formControlName="distillery"
                        (ngModelChange)="evalEdit(itemx)">
                    <div *ngIf="form_submitted == true && auction_form.controls['distillery'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['distillery'].errors['required']"><em>Distillery is
                                required</em></div>
                    </div>

                    <label class="labelf">Barrel/Lot Number:</label>
                    <input type="text" class="form-control" formControlName="barrel_number"
                        (ngModelChange)="evalEdit(itemx)">
                    <div *ngIf="form_submitted == true && auction_form.controls['barrel_number'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['barrel_number'].errors['required']"><em>Barrel number is
                                required</em></div>
                    </div>

                    <label class="labelf">Spirit:</label>
                    <input type="text" class="form-control" formControlName="internal_spirit"
                        (ngModelChange)="evalEdit(itemx)">
                    <div *ngIf="form_submitted == true && auction_form.controls['internal_spirit'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['internal_spirit'].errors['required']"><em>Spirit is
                                required</em></div>
                    </div>

                    <label class="labelf">Fill Date:&nbsp;&nbsp;</label>
                    <i class="fa fa-calendar" (click)="show_calendar_popup = true;"></i>
                    <input type="text" class="form-control" formControlName="last_fill_date">
                    <div *ngIf="show_calendar_popup == true" class="calendar_popup">
                        <dl-date-time-picker startView="day" maxView="day" minView="day"
                            [(ngModel)]="itemx.last_fill_date_raw" (ngModelChange)="dateSelected()">
                        </dl-date-time-picker>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['last_fill_date'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['last_fill_date'].errors['required']"><em>Last fill date is
                                required</em></div>
                    </div>

                    <!--
                <input type="text" class="form-control" [(ngModel)]="itemx.last_fill_date" (ngModelChange)="evalEdit(itemx)">
                -->

                    <label class="labelf">Age:</label>
                    <input type="text" class="form-control" formControlName="total_age_of_spirits"
                        (ngModelChange)="evalEdit(itemx)">
                    <div *ngIf="form_submitted == true && auction_form.controls['total_age_of_spirits'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['total_age_of_spirits'].errors['required']"><em>Age of spirits
                                is required</em></div>
                    </div>

                    <label class="labelf">Mash Bill:</label><br>
                    <label class="labelf" style="width:150px" >Corn</label>
                    <div class="input_wrapper">
                        <input type="text" class="form-control" style="width:100px;display: inline-block;text-align:center;"
                            formControlName="mash_corn_pct" (change)="evalEdit(itemx)">
                        <span><i class="fas fa-percent pct_icon"></i></span>
                    </div><br>
                    <label class="labelf" style="width:150px">Wheat</label>
                    <div class="input_wrapper">
                    <input type="text" class="form-control" style="width:100px;display: inline-block;text-align:center;" formControlName="mash_wheat_pct" (change)="evalEdit(itemx)">
                    <span><i class="fas fa-percent pct_icon"></i></span>
                </div><br>
                    <label class="labelf" style="width:150px">Rye</label>
                    <div class="input_wrapper">
                    <input type="text" class="form-control" style="width:100px;display: inline-block;text-align:center;" formControlName="mash_rye_pct" (change)="evalEdit(itemx)">
                    <span><i class="fas fa-percent pct_icon"></i></span>
                </div><br>
                    <label class="labelf" style="width:150px">Malt Barley</label>
                    <div class="input_wrapper">
                    <input type="text" class="form-control" style="width:100px;display: inline-block;text-align:center;" formControlName="mash_malt_pct" (change)="evalEdit(itemx)">
                    <span><i class="fas fa-percent pct_icon"></i></span>
                </div><br>
                    <label class="labelf" style="padding-left:182px;" [ngStyle]="{'color':(mash_total != 100 ? '#dc3545':'#2b3d55')}">{{mash_total}}%</label><br>

                    <!--
                    <label class="labelf">Lot Identification Number:</label>
                    <input type="text" class="form-control" formControlName="lot_id" (ngModelChange)="evalEdit(itemx)">
                    <div *ngIf="form_submitted == true && auction_form.controls['lot_id'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['lot_id'].errors['required']"><em>Lot identification is
                                required</em></div>
                    </div>
                    -->

                    <label class="golden_label">Description:</label>
                    <textarea class="form-control" rows="5" formControlName="description"
                        (ngModelChange)="evalEdit(itemx)"></textarea>
                    <div *ngIf="form_submitted == true && auction_form.controls['description'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['description'].errors['required']"><em>Please enter an item
                                description</em></div>
                    </div>

                    <label class="golden_label">Pricing</label><br>
                    <label class="labelf">Starting Bid:</label>
                    <!--
                <input type="text" class="form-control" [(ngModel)]="itemx.starting_bid" (ngModelChange)="evalEdit(itemx)">
                -->
                    <div style="position:relative">
                        <input type="text" class="form-control padding_for_dollar_sign" style="width:200px;" formControlName="starting_bid"
                            (ngModelChange)="evalEdit(itemx)">
                        <span><i class="fas fa-dollar-sign money_icon" style="top: 12px;left: 15px;"></i></span>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['starting_bid'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['starting_bid'].errors['required']"><em>Please enter an item
                                description</em></div>
                    </div>

                    <label class="labelf">Auction Duration</label>
                    <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle"
                            style="border: 1px solid #ced4da;width:280px;background-color:white;margin:auto"
                            formControlName="auction_duration" (ngModelChange)="evalEdit(itemx)">
                            <option class="dropdown_option" *ngFor="let y of duration_options" [value]="y">
                                {{ y }}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['auction_duration'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['auction_duration'].errors['required']"><em>Auction duration
                                is required</em></div>
                    </div>

                    <label class="labelf">Allow Offers</label>
                    <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle"
                            style="border: 1px solid #ced4da;width:280px;background-color:white;margin:auto"
                            formControlName="allow_offers" (ngModelChange)="evalEdit(itemx)">
                            <option class="dropdown_option" *ngFor="let y of ['Yes','No']" [value]="y">
                                {{ y }}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['allow_offers'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['allow_offers'].errors['required']"><em>A selection is
                                required</em></div>
                    </div>


                    <label class="labelf">Reserve Price:</label>
                    <div style="position:relative">
                        <input type="text" class="form-control padding_for_dollar_sign" style="width:200px;" formControlName="reserve_price"
                            (ngModelChange)="evalEdit(itemx)">
                        <span><i class="fas fa-dollar-sign money_icon" style="top: 12px;left: 15px;"></i></span>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['reserve_price'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['reserve_price'].errors['required']"><em>Reserve price is
                                required</em></div>
                    </div>

                    <label class="labelf">Buy Now Price (if not offered leave blank)</label>
                    <div style="position:relative">
                        <input type="text" class="form-control padding_for_dollar_sign" style="width:200px;" formControlName="buy_now_price"
                            (ngModelChange)="evalEdit(itemx)">
                        <span><i class="fas fa-dollar-sign money_icon" style="top: 12px;left: 15px;"></i></span>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['buy_now_price'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['buy_now_price'].errors['required']"><em>Reserve price is
                                required</em></div>
                    </div>

                    <label class="labelf">Schedule</label>
                    <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle"
                            style="border: 1px solid #ced4da;width:280px;background-color:white;margin:auto"
                            formControlName="schedule" (ngModelChange)="evalEdit(itemx)">
                            <option class="dropdown_option" *ngFor="let y of schedule_options" [value]="y">
                                {{ y }}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="form_submitted == true && auction_form.controls['schedule'].errors"
                        class="invalid-feedback invalid_feedback" style="display:block;">
                        <div *ngIf="auction_form.controls['schedule'].errors['required']"><em>A selection is
                                required</em></div>
                    </div>

                    <button class="btn btn-default button_secondary button_secondaryx" style="margin-top:60px">Review
                        and Sign Agreement</button>
                    <button class="btn btn-default button_secondary button_secondaryx" style="margin-bottom: 5px;">Upload Warehouse Agreement & Receipts</button>
                    <em>Warehouse Agreement</em><br>
                    <em>Receipt 1</em><br>
                    <em>Receipt 2</em><br>
                    <button type="submit" class="btn btn-default button_primary button_primaryx">List Item</button>
                    <button class="btn btn-default button_primary button_primaryx" style="margin-bottom:100px">Save for Later</button>
                </form>

                <!--
                <label class="labelf">Images</label><br>
                <div class="images_container">
                    <div class="imagex" *ngFor="let x of itemx.images_urls; index as i">
                        <img class="image_preview_form" src="{{x}}">
                        <span class="delete_image_button" (click)="deleteImage(i)">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                </div>
                -->

                <!--
                <div class="image_input_container">
                    <div class="text-left" style="padding: 10px 0;">
                        <button class="btn btn-default button_secondary" (click)="uploadImage()">Upload Image</button>
                    </div>
                </div>
                
                <label class="labelf">Buy Now Price:</label>
                <input type="text" class="form-control" [(ngModel)]="itemx.price" (ngModelChange)="evalEdit(itemx)">
    
                <label class="labelf">Auction end time:&nbsp;&nbsp;</label>
                <i class="fa fa-calendar" (click)="show_calendar_popup = true;"></i>
                <input type="text" class="form-control" [(ngModel)]="selected_date">
                <div *ngIf="show_calendar_popup == true" class="calendar_popup">
                    <dl-date-time-picker startView="day" maxView="day" minView="hour" [(ngModel)]="selected_date"
                        (ngModelChange)="dateSelected()">
                    </dl-date-time-picker>
                </div>
    
                <div class="text-center" style="padding:30px 0;">
                    <button class="btn btn-default button_primary" (click)="saveListing()">SAVE</button>
                </div>
                -->

            </div>
        </div>
        <!--
        <div class="col-4">
            <img class="logo_image" src="../../../assets/images/defaultimage.png">
        </div>
        -->
    </div>
</section>
<app-footer></app-footer>

<div class="modal fade" id="addImageModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body" *ngIf="itemx" style="min-height: 712px;">
                <button class="btn btn-default modal_close_button" data-dismiss="modal"
                    (click)="closeModal('addImageModal')">
                    <i class="fa fa-times modal_close_icon"></i>
                </button>
                <h1 class="modal_title" style="padding: 0 0 20px 0;">Add image</h1>
                <div class="btn btn-default add_image_button" *ngIf="show_image_upload != true"
                    (click)="show_image_upload = true;">
                    <i class="fa fa-plus"></i>
                    Add Photo
                </div>
                <div *ngIf="show_image_upload == true">
                    <app-image-upload (imageLoadedEvent)='photoSelected($event)' (imageCancelEvent)="uploadCancelled()">
                    </app-image-upload>
                </div>
            </div>
        </div>
    </div>
</div>