<div style="padding:20px 0 70px 0;">
    <div class="sub_section_title">Account</div>

    <div class="sub_section_title bz">Personal Information</div>

    <div class="row contents">
        <div class="col-3">
            User Name
        </div>
        <div class="col-9">
            <em>sabio1496</em>
        </div>
        <div class="col-3">
            Personal Info
        </div>
        <div class="col-9">
            Email address:<br>
            <em>info@gmail.com</em><br><br>
            Phone:<br>
            <em>123-123-1234</em><br><br>
            Name & Address:<br>
            <em>John Doe</em><br>
            <em>1234 Main Street</em><br>
            <em>Buffalo, NY 12345</em><br><br>
            Date of Birth:<br>
            <em>8/12/1975</em><br><br>
            ID:<br>
            <span class="sub_section_field">Type:</span><em>Drivers License</em><br>
            <span class="sub_section_field">Number:</span><em>1234-1234-1234</em><br>
            <span class="sub_section_field">Country:</span><em>United States</em><br>
        </div>
    </div>

    <div class="sub_section_title bz">Sign In & Security</div>

    <div class="row contents">
        <div class="col-3">
            User Name
        </div>
        <div class="col-9">
            <em>sabio1496</em>
        </div>
        <div class="col-3">
            Password
        </div>
        <div class="col-9">
            <em>temp******</em><br>
            <button class="btn btn-default white_button">Change Password</button>
        </div>
    </div>

    <div class="sub_section_title bz">Banking Info</div>

    <div class="row contents">
        <div class="col-3">
            Bank Name:
        </div>
        <div class="col-9">
            <em>BankOne</em>
        </div>
        <div class="col-3">
            Account
        </div>
        <div class="col-9">
            <em>4004********</em><br>
        </div>
        <div class="col-3">
            Routing
        </div>
        <div class="col-9">
            <em>123*****</em><br>
            <button class="btn btn-default white_button">Request Banking Change</button>
        </div>
    </div>
</div>