<div style="padding:20px 0 70px 0;">
    <div class="sub_section_title">Account</div>

    <div class="sub_section_title bz">Personal Information</div>

    <div class="row contents">
        <div class="col-3">
            User Name
        </div>
        <div class="col-9">
            <em>{{user.first_name}}</em>
        </div>
        <div class="col-3">
            Personal Info
        </div>
        <div class="col-9">
            Email address:<br>
            <em>{{user.email}}</em><br><br>
            Phone:<br>
            <em>{{user.phone}}</em><br><br>
            Name & Address:<br>
            <em>{{user.first_name}}&nbsp;{{user.last_name}}</em><br>
            <em>{{user.address}}</em><br>
            <em>{{user.city}}, {{user.state}}&nbsp;{{user.zipcode}}</em><br><br>
            Date of Birth:<br>
            <em>{{user.date_of_birth}}</em><br><br>
            ID:<br>
            <span class="sub_section_field">Type:</span><em>{{user.id_type}}</em><br>
            <span class="sub_section_field">Number:</span><em>{{user.id_number}}</em><br>
            <span class="sub_section_field">Country:</span><em>{{user.country}}</em><br>
        </div>
    </div>

    <div class="sub_section_title bz">Sign In & Security</div>

    <div class="row contents">
        <div class="col-3">
            User Name
        </div>
        <div class="col-9">
            <em>{{user.first_name}}&nbsp;{{user.last_name}}</em>
        </div>
        <div class="col-3">
            Password
        </div>
        <div class="col-9">
            <em>temp******</em><br>
            <button class="btn btn-default white_button">Change Password</button>
        </div>
    </div>

    <div class="sub_section_title bz">Banking Info</div>

    <div class="row contents">
        <div class="col-3">
            Bank Name:
        </div>
        <div class="col-9">
            <em>BankOne</em>
        </div>
        <div class="col-3">
            Account
        </div>
        <div class="col-9">
            <em>4004********</em><br>
        </div>
        <div class="col-3">
            Routing
        </div>
        <div class="col-9">
            <em>123*****</em><br>
            <button class="btn btn-default white_button">Request Banking Change</button>
            <br><br>
            <button class="btn btn-default white_button">Request to Close Account</button>
        </div>
    </div>
</div>