@import '../../../globals.scss';

.bz {
    border: none;
}

.sub_section_field {
    width: 200px;
    display: inline-block;
}

.contents{
    font-size: 28px;
    font-family: 'merriweather-light';
    color: $color-five;
}