<div style="padding:20px 0 70px 0;">
    <div class="sub_section_title">Bidding</div>
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Current Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx (username)</div><br>
    <div class="sub_section_title">Offers</div>
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Current Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx (username)</div><br>
    <div class="sub_section_title">Lost Bids</div>
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Current Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx (username)</div><br>
</div>