
.cc {
    overflow: auto;
    height: 100vh;
    padding-top: 240px;
    background-image: url(https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1117&q=80);
    /*
    background-image: url(https://images.unsplash.com/photo-1610569244414-5e7453a447a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    */
    background-size: cover;
    background-position:center;
}

.content_container_local{
    width: 100%;
    max-width: 750px;
    margin: auto;
    text-align: center;
    display: block;
    background-color: white;
    padding: 30px;
}