<div class="cc ccx">

</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body" style="padding-top:40px;">
              <h1 class="modal_title" style="margin-bottom: 20px;">Set a new password</h1>
                
              <div class="form-group col-12">
                <label for="inputEmail4">Password:</label>
                <input type="password" class="form-control" id="inputEmail4" (focus)="showAlert=false;" [(ngModel)]="password" placeholder="Password"
                (ngModelChange)="invalid_password='';invalid_passwordc='';">
                <div *ngIf="invalid_password" class="alert_message">{{invalid_password}}</div>
              </div>
              <div class="form-group col-12">
                <label for="inputPassword4">Confirm Password:</label>
                <input type="password" class="form-control" id="inputPassword4" (focus)="showAlert=false;" (keyup.enter)="submitPassword()" 
                [(ngModel)]="passwordc" placeholder="Password" (ngModelChange)="invalid_password='';invalid_passwordc='';">
                <div *ngIf="invalid_passwordc" class="alert_message">{{invalid_passwordc}}</div>
            </div>
              <div class="text-center" style="margin:30px 0;">
                <button class="btn btn-default button_primary" (click)="submitPassword()">Submit</button>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--
            <div class="modal-header modal_header">
                <h5 class="modal-title" id="exampleModalLabel">{{msgTitle}}</h5>
                <button type="button" class="close mcb" data-dismiss="modal" aria-label="Close" (click)="goLogin()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            -->
            <div class="modal-body modal_body">
                <img class="logo_in_modal" src="../../../assets/images/Color_Transparent_sm.png">
                <h1 class="modal_title">{{msgTitle}}</h1>
                <div class="text-center">
                    {{msgBody}}
                </div>
                <div class="text-right" style="padding:20px 0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goLogin()">Cancel</button>
                </div>
            </div>
            <!--
            <div class="modal-footer modal_footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goLogin()">Cancel</button>
                <button *ngIf="msgCallback" type="button" class="btn btn-default rf" data-dismiss="modal" (click)="msgCallback(msgObject)">Yes, delete</button>
            </div>
            -->
        </div>
    </div>
</div>

<div class="modal fade" id="passwordResetSuccessfulModal" tabindex="-1" role="dialog" [hidden]="" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_header">
                <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                <button type="button" class="close mcb" data-dismiss="modal" aria-label="Close" (click)="goLogin()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal_body">
                <img class="modal_image" src="../../../assets/images/Color_Transparent_sm.png">
                <div class="text-center">
                    You have reset your password succesfully.
                </div>
                
                <div class="text-center" style="padding: 25px 0;">
                    <button type="button" class="btn btn-default button_primary" data-dismiss="modal" (click)="goLogin()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>