@import '../../../globals.scss';


.cc {
    overflow: auto;
    height: 100vh;
    padding-top: 135px;
    background-color: white;
    background-size: cover;
    background-position:center;
}

.ccx {
    background-image: url('../../../assets/images/Hero\ Image.jpg');
    background-size: cover;
}

.project_name {
    text-align: center;
    font-size: 36px;
    color: $color-one;
    /*text-shadow: 1px 1px 1px black;*/
    width: 100%;
}

.bus_image {
    width:200px;
    display: block;
    margin: auto;
}

.modal_image {
    width: 250px;
    display: block;
    margin: 10px auto 20px auto;
}

.logo_in_modal{
    height: 85px;
    margin: 30px auto;
    display: block;
}