@import '../../../globals.scss';

.result_card {
    padding: 30px 0;
}

.result_image {
    height: 170px;
    max-width: 265px;
    margin: 0 auto 10px auto;
    display: block;
}

.result_title {
    text-align: center;
    color: $color-two;
    font-size: 32px;
    font-family: 'worksans-700';
    margin-bottom: 0;
}

.result_text {
    text-align: center;
    color: $color-five;
    font-size: 18px;
    font-family: 'merriweather-light';
    max-width: 250px;
    margin: auto;
    display: block;
}

