
    
    <div class="content_container" style="max-width:1285px">
        <div class="sub_section_title">Messages</div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" value="">
                    </td>
                    <td style="width:200px">
                        <button class="btn btn-default button_secondary button_secondaryx">Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-default button_secondary button_secondaryx">Archive</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="width:200px"><em>Date</em></td>
                    <td><em>From</em></td>
                    <td><em>Subject</em></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" value="">
                        <i class="fa fa-paper-clip"></i>
                    </td>
                    <td style="width:200px">11/2/2022</td>
                    <td>Bonded.co</td>
                    <td>Lorem Ipsum</td>
                </tr>
            </tbody>
        </table>
    </div>


