@import '../../../globals.scss';

.ccx {
    padding-top:0px;
}

.surfboard_image {
    height: 250px;
}

.page_headline {
    padding: 25px 0 5px 0;
    margin: 0;
}

.modal_back_button {
    position: absolute;
    top: 20px;
    left: 10px;
}

.formc {
    padding: 0 20px;
}

.dropdown_option {
    font-size: 17px;
}

.money_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
}

.next_button {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
}

.city_label {
    padding: 20px 0;
    font-size: 24px;
    color: grey;
    font-style: italic;
}

.text_green{
    color: $color-one;
}

.disclaimer_text{
    font-size: 15px;
    color: grey;
    font-style: italic;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 27px;
}

.image_thumbnail{
    width: 140px;
    height: 140px;
    display: inline-block;
    margin: 3px 3px;
    border: solid 1px lightgrey;
    vertical-align: middle;
    object-fit: cover;
}

.add_image_button{
    padding: 30px 37px;
    color: $color-one;
    font-size: 13px;
    cursor:pointer;
}

.add_image_button:hover {
    background-color: #f2f2f2
}

.add_image_icon{
    color: $color-one;
    font-size: 70px;
}

.images_row {
    text-align: center;
}

.delete_image_button {
    border-radius: 50%;
    position: absolute;
    background-color: white;
    right: 3px;
    top: -9px;
    padding: 1px 7px;
    color: grey;
    border: solid 1px lightgrey;
    cursor: pointer;
}

.delete_image_button:hover {
    background-color: grey;
    color: white;
}

.image_table{
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.tablex {
    max-width: 900px;
    margin: auto;
}

.button_grey {
    color: grey;
    text-decoration: underline;
}

.confirm_delete_image {
    height: 300px;
    margin:auto;
    display: block;
    max-width: 95%;
}

.confirm_delete_title {
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
}

.checkbox_option{
    padding: 10px 15px; 
    text-align: center;
}

.checkbox_option_text{
    width: 155px;
    display: inline-block;
    font-size: 17px;
}

.surf_option_button_image {
    width: 100%;
    height: 65px;
    object-fit: contain;
}

.surf_option_button {
    border: solid 1px lightgrey;
    border-radius: 5px;
    opacity: 0.5;
}

.surf_options_container {
    padding: 5px 0;
}

.option_selected {
    opacity: 1;
    outline: solid 2px $color-one;
}

.selected {
    border-bottom: solid 3px $color-one;
    border-radius: 0;
}

.when_text{
    color: grey;
    font-style: italic;
    font-size: 14px;
    float: right;
}

.bold_text{
    font-weight: 700;
}

.disabled_color {
    color: lightgrey;
}

@media only screen and (max-width: 768px) {
    .ccx {
        margin-top: 0;
        height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 60px);
    }
}
