/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';


@font-face {
    font-family: merriweather-light;
    src: url(../src/assets/fonts/Merriweather-Light.ttf) format("opentype");
}

@font-face {
    font-family: merriweather-regular;
    src: url(../src/assets/fonts/Merriweather-Regular.ttf) format("opentype");
}

@font-face {
    font-family: worksans-300;
    src: url(../src/assets/fonts/WorkSans300.ttf) format("opentype");
}

@font-face {
    font-family: worksans-700;
    src: url(../src/assets/fonts/WorkSans700.ttf) format("opentype");
}