<div style="padding:20px 0 70px 0;">
    <div class="sub_section_title">Selling</div>

    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Reserve:</div>
    <div class="data_text">None</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">3 Days Remaining</div><br><br>

    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br> 
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Reserve:</div>
    <div class="data_text">None</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">3 Days Remaining</div><br>

    <div class="sub_section_title">Drafts</div>

    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">Draft</div><br>

    <div class="sub_section_title">Scheduled</div>
    
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">List Date:</div>
    <div class="data_text">11/26/2022</div><br>
    
    <div class="sub_section_title">Unsold</div>
    
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    
    <div class="sub_section_title">Payments</div>
    
    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">Processing</div><br><br>

    <div class="field_text">Item:</div>
    <div class="data_text">#123456</div><br>
    <div class="field_text">Item Title:</div>
    <div class="data_text">Lorem Ipsum</div><br>
    <div class="field_text">Winning Bid:</div>
    <div class="data_text">$xxxx</div><br>
    <div class="field_text">Status:</div>
    <div class="data_text">Paid</div><br>

    <div class="sub_section_title">Current Holdings</div>
    
    <div class="field_text">Distillery/Origin:</div>
    <div class="data_text"></div><br>
    <div class="field_text">Barrel/Lot Number:</div>
    <div class="data_text"></div><br>
    <div class="field_text">Spirit:</div>
    <div class="data_text"></div><br>
    <div class="field_text">Fill Date:</div>
    <div class="data_text"></div><br>
    <div class="field_text">Age:</div>
    <div class="data_text"></div><br>
    <div class="field_text">Mash Bill:</div>
    <div class="data_text"></div><br>
    <div class="field_text">Est. Auction Value:</div>
    <div class="data_text"></div><br>
</div>